<settings>

    <servers>
        <server>
            <id>ossrh</id>
            <username>${sonatypeusername}</username>
            <password>${sonatypepassword}</password>
        </server>
        <server>
            <id>${gpgkeyname}</id>
            <passphrase>${signingkeystorepassword}</passphrase>
        </server>
    </servers>
           
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.keyname>${gpgkeyname}</gpg.keyname>
            </properties>
        </profile>
    </profiles>
             
</settings>